body{
    background-color: beige;
}

header{
    background-color: aquamarine;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    z-index: 10;


    
}

header p{
    justify-content: flex-end;
    background-color: black;
    padding: 8px;
    margin-right: 30px;
}

main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
    background-color: aqua;
    width: 35%;
    z-index: 100;
    top: 8%;
    position: absolute;
    border-radius: 30px;
}


footer{
    position: absolute;
    top: 50%;
    background-color: chocolate;
    text-align: center;
    padding: 10px;
    width: 100%;
border-radius: 32px;
}

footer h3{
    color: blueviolet;
    background-color: yellow;
    
}

table{
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

label,input{
    justify-content: flex-start;

}


#div1{
    border: solid 2px green;
    top: 30%;
    left: 70%;
    position: absolute;
   border-radius: 10px;
    width: 200px;
    height: 130px;

}

#div1 li {
    color: rgb(190, 12, 116);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px black;
}


/*  Para que cambie de color*/
.menu-item {
    background-color: orange;
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease;
}


/*  Estilo caundo el raton lo pase po enciam  */

.menu-item:hover {
    background-color: green;
    
}

h1{
    color: rgb(67, 228, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 6px 6px 12px rgb(219, 168, 168);
}

iframe{
    border-radius: 7PX;
    width: 460px;
    height: 200px;
}