

#form{
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    padding: 100px;
    border: solid 3px black;
    width: 500px;
    
    
}


#form input{
    width: 100px;
    padding: 5px;
}

input:focus{
    border:  2px solid blue;
}

.resaltado {
    background-color: yellow;
}

.label-hover{
    font-size: 50px;
}